<!-- <app-breadcrumb
  [backRoute]="'/cart-shopping'"
  [items]="breadcrumbItems"
></app-breadcrumb> -->

<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <h1>Tu cotización se ha ingresado con éxito.</h1>
      <p>Pronto un ejecutivo se pondrá en contacto contigo.</p>
      <button [routerLink]="['/']" class="btn btn-primary">
        Seguir comprando
      </button>
    </div>
    <div class="col-6 d-none d-md-block">
      <img class="img-fluid" src="assets/contact_us.svg" alt="contact us" />
    </div>
  </div>
</div>
