<div class="container mt-3">
  <ng-container *ngIf="categories$ | async as categories">
    <ng-container *ngIf="!categories.loading; else loading">
      <h1 class="">{{ getCategoryName(categories.data) }}</h1>
    </ng-container>
    <ng-template #loading>
      <h1 class="placeholder rounded">loading</h1>
    </ng-template>
  </ng-container>
</div>

<section class="">
  <div class="container py-4">
    <div class="row">
      <!-- Shop sidebar-->
      <div class="col-xl-2 col-lg-3 d-none d-lg-block">
        <app-shop-product-list-filters></app-shop-product-list-filters>
      </div>
      <!-- Shop listing-->
      <div class="col-xl-10 col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
        <!-- Listing filter-->
        <div class="row mb-4 pb-3">
          <div class="col-md-6 text-center text-md-start">
            <p class="small text-muted">
              <ng-container *ngIf="products$ | async as products">
                <ng-container *ngIf="!products.loading; else loading">
                  Mostrando página
                  <strong class="text-dark"
                    >{{ products.meta.pagination.page }} </strong
                  >de
                  <strong class="text-dark"
                    >{{ products.meta.pagination.pageCount }}
                  </strong>
                </ng-container>
                <ng-template #loading>
                  <span class="placeholder col-6 rounded">&nbsp;</span>
                </ng-template>
              </ng-container>
            </p>
          </div>
          <div class="col-md-6 text-lg-end">
            <div
              class="d-flex align-items-center justify-content-center justify-content-md-end"
            >
              <ul class="list-inline mb-0 ms-2">
                <li class="list-inline-item text-start">
                  <div class="form-floating">
                    <select
                      name="sortBy"
                      class="form-select"
                      id="sortBy"
                      aria-label="Ordenar por"
                      (change)="sortByOnChange($event)"
                    >
                      <option value="asc">Precio: bajo a alto</option>
                      <option value="desc" [selected]="true">
                        Precio: alto a bajo
                      </option>
                    </select>
                    <label for="floatingSelect">Ordenar por</label>
                  </div>
                </li>
              </ul>
              <button
                class="btn btn-primary ms-2 d-lg-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasFilters"
                aria-controls="offcanvasFilters"
              >
                <i class="fa-solid fa-filter"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Product-->
          <ng-container *ngIf="products$ | async as products">
            <ng-container *ngIf="!products.loading; else loading">
              <div
                class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-4 p-2"
                *ngFor="let product of products.data"
              >
                <div class="d-flex justify-content-center m-0 p-0">
                  <app-card-item
                    [item]="product"
                    [buttonLink]="'/home/' + categoryId + '/' + product.id"
                    [buttonLabel]="'Comprar'"
                  ></app-card-item>
                </div>
              </div>

              <!-- Pagination-->
              <app-pagination
                [pagination]="products.meta.pagination"
                (clickOnPagination$)="changePage($event)"
              ></app-pagination>
            </ng-container>
            <ng-template #loading>
              <div
                class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-4 p-2"
                *ngFor="let product of [{}, {}, {}, {}, {}, {}, {}, {}, {}]"
              >
                <div class="d-flex justify-content-center m-0 p-0">
                  <app-card-item-loading></app-card-item-loading>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  #offcanvasFilters
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasFilters"
  aria-labelledby="offcanvasFiltersLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasFiltersLabel">Filtros</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-shop-product-list-filters></app-shop-product-list-filters>

    <div class="d-grid gap-2 mt-3">
      <button
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        class="btn btn-primary"
        type="button"
      >
        Filtrar
      </button>
    </div>
  </div>
</div>
