<br /><br /><br /><br /><br /><br />

<div class="container">
  <div class="row">
    <div
      class="col-12 col-md-7 order-2 order-md-2 text-center d-flex justify-content-center align-items-center"
    >
      <div class="text-center">some</div>
    </div>
    <div class="col-12 col-md-5 order-1 order-md-2">
      <div
        class="mx-auto container-img d-flex justify-content-center align-items-center"
      >
        <img
          class=""
          src="https://storage.googleapis.com/roble-strapi-bucket/small_USAR_PARA_25_30_Y_50_KILOS_background_removal_aef2e08cde/small_USAR_PARA_25_30_Y_50_KILOS_background_removal_aef2e08cde.png"
          alt="MDN Logo"
        />
        <svg style="position: absolute; z-index: -1" width="300" height="300">
          <use xlink:href="#blob" />
        </svg>
      </div>
    </div>
  </div>

  <svg class="" style="display: none" xmlns="http://www.w3.org/2000/svg">
    <symbol id="blob" viewBox="0 0 1000 1000">
      <defs>
        <clipPath id="a">
          <path
            fill="currentColor"
            d="M805.5 600Q738 700 654 798t-195 31.5Q348 763 282.5 683T132 469q-85-134 47-215t265.5-140q133.5-59 266 19.5T858 356q15 144-52.5 244Z"
          />
        </clipPath>
      </defs>
      <g clip-path="url(#a)">
        <path
          fill="#D5E6DF"
          d="M805.5 600Q738 700 654 798t-195 31.5Q348 763 282.5 683T132 469q-85-134 47-215t265.5-140q133.5-59 266 19.5T858 356q15 144-52.5 244Z"
        />
      </g>
    </symbol>
  </svg>
</div>
