// Custom variables
$primary:       #198754;
$secondary:     #6c757d;
$success:       #0d6efd;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;

$font-family-sans-serif: "Poppins", sans-serif;

// Import the bootstrap functions and  variables
@import "./../../../node_modules/bootstrap/scss/functions";
@import "./../../../node_modules/bootstrap/scss/variables";

// Custom Theme Variables
@import "./theme/variables";
