<section>
  <ng-container *ngIf="product$ | async as product">
    <ng-container *ngIf="!product.loading; else loadingBreadcrumb">
      <app-breadcrumb
        class="d-lg-none"
        [items]="[
  {
    title: categoryId,
    url: '/home/'+categoryId,
  },
  {
    title: product.data.name,
    url: '',
  },
  ]"
      ></app-breadcrumb>
    </ng-container>
  </ng-container>

  <ng-template #loadingBreadcrumb>
    <p class="my-3 placeholder-glow text-center d-lg-none">
      <span class="placeholder col-7 rounded"></span>
      <span class="placeholder col-8 rounded"></span></p
  ></ng-template>
</section>

<section class="py-0 py-md-4">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="product$ | async as product">
        <ng-container *ngIf="!product.loading; else loadingProductSlider">
          <ng-container
            *ngIf="
              getImages(product.data?.primary_image, product.data?.images)
                .length > 0
            "
          >
            <div class="col-lg-6 mb-4 mb-lg-0">
              <app-shop-product-detail-slider
                [slides]="
                  getImages(product.data.primary_image, product.data.images)
                "
              ></app-shop-product-detail-slider>
            </div>
          </ng-container> </ng-container
      ></ng-container>

      <!-- Item info-->
      <div class="col-lg-6">
        <ng-template #loadingProductInfo class="placeholder-glow">
          <h1 class="d-none d-lg-block placeholder rounded">
            some product name
          </h1>

          <p class="h4 placeholder rounded">some text some text</p>
          <p class="placeholder rounded">
            some text some text some text some text
          </p>
        </ng-template>

        <ng-container *ngIf="product$ | async as product">
          <ng-container *ngIf="!product.loading; else loadingProductInfo">
            <!-- <div class="badge bg-info small rounded-0 mb-2">Trending</div> -->
            <h1 class="d-none d-lg-block">{{ product.data.name }}</h1>
            <div class="d-flex align-items-center d-none">
              <ul class="list-inline mb-2 me-3 small">
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-muted"></i>
                </li>
              </ul>
              <p class="small text-muted mb-2">12 customer reviews</p>
            </div>
            <p class="h4" *ngIf="product.data.price > 0; else elsePrecio">
              $ {{ product.data.price | currency }}<span class="iva">+IVA</span>
            </p>
            <ng-template #elsePrecio>
              <p class="h4">(Consultar precio en tienda)</p>
            </ng-template>

            <p class="text-small mb-4">
              <markdown ngPreserveWhitespaces>
                {{ product.data.description }}
              </markdown>
            </p>

            <div
              class="d-flex align-items-center mb-lg-4 p-3 p-lg-0 addToCartSection"
            >
              <a
                class="btn btn-primary btn-sm rounded-3 py-2 border-bottom-0 px-4 px-lg-5 me-3"
                (click)="addProduct(product)"
              >
                <i class="d-none d-lg-inline fas fa-shopping-bag py-1 me-2"></i
                >Agregar al Carrito</a
              ><a class="p-0 reset-anchor d-inline-block mx-2 d-none" href="#"
                ><i class="fas fa-heart"></i></a
              ><a
                *ngIf="isShareEnable"
                class="p-0 reset-anchor d-inline-block mx-2"
                (click)="share(product.data.name)"
                ><i class="fas fa-share-alt"></i
              ></a>
            </div>
            <br />
            <ul class="list-unstyled small d-inline-block">
              <li class="px-3 py-2 mb-1 bg-light">
                <strong class="text-uppercase">SKU:</strong
                ><span class="ms-2 text-muted">{{ product.data.code }}</span>
              </li>
              <!-- <li class="px-3 py-2 mb-1 bg-light text-muted">
                <strong class="text-uppercase text-dark">Category:</strong
                ><a class="reset-anchor ms-2" href="#">Demo Products</a>
              </li>
              <li class="px-3 py-2 mb-1 bg-light text-muted">
                <strong class="text-uppercase text-dark">Tags:</strong
                ><a class="reset-anchor ms-2" href="#">Innovation</a>
              </li> -->
            </ul>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <ng-template #loadingProductSlider>
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="row">
          <div
            class="col-md-2 order-2 order-md-1 p-0 d-flex justify-content-center justify-content-md-start align-items-md-center flex-md-column gap-3 placeholder-glow"
          >
            <button
              type="button"
              class="border rounded placeholder"
              style="width: 80px; height: 80px"
            ></button>

            <button
              type="button"
              class="border rounded placeholder"
              style="width: 80px; height: 80px"
            ></button>
          </div>
          <div
            class="col-md-10 order-1 order-md-2 p-0 mb-3 mb-lg-0 placeholder-glow"
          >
            <!-- Item slider-->

            <div class="carousel-inner border rounded placeholder">
              <div class="carousel-item rounded w-100 active"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>

<ng-container *ngIf="product$ | async as product">
  <ng-container *ngIf="!product.loading; else loadingBreadcrumb">
    <p
      *ngFor="
        let category of product.data.category;
        index as i;
        first as isFirst
      "
    >
      {{ category.name }}
    </p>
  </ng-container>
</ng-container>

<div class="container py-5">
  <h3>¿Quieres ver más?</h3>
  <section class="d-flex justify-content-start scroll-custom d-grid gap-3">
    <ng-container *ngIf="products$ | async as products">
      <ng-container *ngIf="!products.loading; else loadingProducts">
        <ng-container
          *ngFor="let product of filterProducts(products.data).slice(0, 5)"
        >
          <ng-container *ngIf="product.id != productId; else repeated">
            <app-card-item
              [item]="product"
              [buttonLink]="'/home/' + categoryId + '/' + product.id"
              [buttonLabel]="'Comprar'"
            ></app-card-item>
          </ng-container>
          <ng-template #repeated> </ng-template>
        </ng-container>

        <app-card-see-more
          *ngIf="filterProducts(products.data).length > 5"
          [url]="'/home/' + categoryId"
        ></app-card-see-more>
      </ng-container>
    </ng-container>
    <ng-template #loadingProducts>
      <app-card-item-loading
        *ngFor="let i of [1, 2, 3, 4, 5, 6]"
      ></app-card-item-loading>
    </ng-template>
  </section>
</div>
