<section class="container">
  <ng-container *ngIf="parentCategories$ | async as parentCategories">
    <ng-container
      *ngIf="!parentCategories.loading; else loadingParentCategories"
    >
      <div class="contenido">
        <app-menu-top [items]="parentCategories.data"></app-menu-top>
      </div>
    </ng-container>
    <ng-template #loadingParentCategories>
      <div class="placeholder-glow h-100">
        <app-menu-top class="placeholder w-100 rounded"></app-menu-top>
      </div>
    </ng-template>
  </ng-container>
</section>

<!-- <ng-container *ngIf="category$ | async as category; else loading">
  <p>{{ category.data | json }}</p>
</ng-container>
<ng-template #loading>
  <p>loading</p>
</ng-template> -->

<div class="container py-3">
  <div class="row">
    <ng-container *ngIf="categories$ | async as categories">
      <div
        class="col-3 d-none d-lg-block"
        style="overflow: auto"
        [style.height.px]="alturaDiv"
      >
        <ng-container *ngIf="!categories.loading; else loading">
          <div class="contenido">
            <app-menu-list [products]="categories.data"></app-menu-list>
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="placeholder-glow h-100">
            <div class="placeholder w-100 rounded h-100">some</div>
          </div>
        </ng-template>
      </div>
    </ng-container>

    <div class="col-12 col-lg-9">
      <div #miDiv>
        <section class="mb-4">
          <ng-container
            *ngIf="bannersHome$ | async as bannersHome; else loadingBannersHome"
          >
            <ng-container *ngIf="!bannersHome.loading; else loadingBannersHome">
              <app-carousel [items]="bannersHome.data"></app-carousel>
            </ng-container>
          </ng-container>

          <ng-template #loadingBannersHome>
            <app-carousel [loading]="true"></app-carousel>
          </ng-template>
        </section>

        <h5 class="mb-3">Productos destacados</h5>
        <section class="d-flex scroll-custom gap-3">
          <ng-container
            *ngIf="
              categories$ | async as categories;
              else loadinghigHlightedCategories
            "
          >
            <ng-container
              *ngIf="!categories.loading; else loadinghigHlightedCategories"
            >
              <app-card-category
                *ngFor="let hotProduct of hotProducts"
                [item]="hotProduct"
                [button]="false"
              ></app-card-category>
            </ng-container>
          </ng-container>
          <ng-template #loadinghigHlightedCategories>
            <app-card-category-loading></app-card-category-loading>
            <app-card-category-loading></app-card-category-loading>
            <app-card-category-loading></app-card-category-loading>
            <app-card-category-loading></app-card-category-loading>
            <app-card-category-loading></app-card-category-loading>
          </ng-template>
        </section>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <h3>Ofertas</h3>
    <section class="d-flex justify-content-between scroll-custom d-grid gap-3">
      <app-card-item-loading></app-card-item-loading>
      <app-card-item-loading></app-card-item-loading>
      <app-card-item-loading></app-card-item-loading>
      <app-card-item-loading></app-card-item-loading>
      <app-card-item-loading></app-card-item-loading>
      <app-card-item-loading></app-card-item-loading>
    </section>
  </div>
</div>

<section class="mb-5">
  <app-subscribe></app-subscribe>
</section>

<div class="container py-4">
  <h3>Descubre más oportunidades</h3>
  <section class="d-flex justify-content-between scroll-custom d-grid gap-3">
    <app-card-item-loading></app-card-item-loading>
    <app-card-item-loading></app-card-item-loading>
    <app-card-item-loading></app-card-item-loading>
    <app-card-item-loading></app-card-item-loading>
    <app-card-item-loading></app-card-item-loading>
    <app-card-item-loading></app-card-item-loading>
  </section>
</div>
