@import "/src/assets/scss/core";

/* ==========================================
    CHOICES.JS
   ========================================== */

::ng-deep {
  .choices {
    min-width: 14rem !important;
    z-index: 100;
  }

  .choices__list--dropdown .choices__item--selectable {
    padding-right: 3rem !important;
  }

  .choices__inner {
    padding: $input-padding-y ($input-padding-x * 1.5) !important;
    min-height: $input-height !important;
    border-radius: 0 !important;
    background-color: #fff !important;
    border-color: $input-border-color !important;
  }

  .choices__list--single {
    padding: 2px !important;
  }
}
