.texto-limitado {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5; /* Ajusta la altura de línea según tus necesidades */
  max-height: 4.5em; /* Ajusta el valor para mostrar un máximo de 3 líneas de texto */
  -webkit-line-clamp: 3; /* Número máximo de líneas a mostrar */
  text-overflow: ellipsis;
}

.card2 {
  // max-width: 300px;
  // width: 250px;
  // min-width: 200px;
  // margin: 10px;
}
