<nav class="navbar sticky-top bg-body-tertiary">
  <div class="container">
    <div class="d-flex align-items-center w-100">
      <a
        class="me-auto d-flex fs-6 my-0"
        [routerLink]="['/home']"
        style="cursor: pointer"
      >
        <span class="d-none d-lg-block">Máquinas de Gastronomía&nbsp;</span>
        <span>Roble</span>
      </a>

      <div class="text-body-secondary d-none d-lg-block">
        <small class="mx-3"> +569 76901120, Santiago</small>
      </div>

      <!-- d-none d-lg-block: Hide on screens smaller than lg -->
      <!-- <div class="p-2 d-none d-lg-block">
        <app-button-icon [icon]="'bell'" [badge]="1"></app-button-icon>
      </div> -->

      <!-- d-none d-lg-block: Hide on screens smaller than lg -->
      <div class="p-2">
        <app-button-icon
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasShoppingCart"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
          [icon]="'cart-shopping'"
          [badge]="12"
        ></app-button-icon>
      </div>

      <!-- d-none d-lg-block: Hide on screens smaller than lg -->
      <div class="p-2 d-none d-lg-block">
        <app-button-icon
          [routerLink]="['/user']"
          [icon]="'user'"
        ></app-button-icon>
      </div>

      <!-- d-lg-none: Hide on lg and wider screens -->
      <div class="p-2 d-lg-none">
        <button
          class="btn btn-sm btn-outline-primary rounded-circle"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fa-regular fa-magnifying-glass"></i>
          <!-- <i class="fa-regular fa-bars"></i> -->
        </button>
      </div>

      <!-- Offcanvas Tab -->
      <div
        #offcanvasNavbar
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Productos</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <app-menu-list
            (elementClickedEvent)="closeOffcanvasNavbar()"
          ></app-menu-list>
        </div>
      </div>

      <!-- Offcanvas Shopping Cart -->
      <div
        #offcanvasShoppingCart
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasShoppingCart"
        aria-labelledby="offcanvasShoppingCartLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasShoppingCartLabel">
            Carrito de Compra
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body" style="margin-bottom: 55px">
          <div
            *ngFor="let product of products; let last = last"
            [ngClass]="{ 'border-bottom': !last }"
            class="row d-flex align-items-center py-2 border-bottom"
          >
            <div class="col-auto">
              <div
                style="
                  height: 80px;
                  width: 80px;
                  background-color: blanchedalmond;
                "
              ></div>
            </div>
            <div class="col">
              <p class="fs-6 lh-sm">
                Revolvedora de masas para 15 [Kg], sin tapas laterales<br />
                <span class="fw-lighter">$ 279.690 CLP</span>
              </p>
            </div>
            <div class="col-auto">
              <div
                class="d-flex flex-column border border-light-subtle rounded-top rounded-bottom"
              >
                <button
                  class="btn btn-light btn-sm p-0 rounded-bottom-0"
                  aria-label="Increase product quantity"
                >
                  <i class="fa-thin fa-angle-up"></i>
                </button>
                <div
                  class="text-center bg-light border-0 py-1 fs-6 fw-lighter lh-sm"
                  style="width: 30px"
                >
                  1
                </div>
                <!-- <input
                  class="text-center border-0 my-1 fs-6 fw-lighter lh-sm"
                  value="1"
                  type="number"
                  style="width: 30px"
                /> -->
                <button
                  class="btn btn-light btn-sm p-0 rounded-top-0"
                  aria-label="Decrease product quantity"
                >
                  <i class="fa-thin fa-angle-down"></i>
                </button>
              </div>
            </div>
            <!-- <div class="col-auto">
                <i class="fa-sharp fa-regular fa-trash"></i>
              </div> -->
          </div>
        </div>
        <div
          class="d-grid p-3 border-top"
          style="
            position: fixed;
            bottom: 0;
            background-color: white;
            width: 100%;
          "
        >
          <button
            [routerLink]="['/cart-shopping']"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            class="btn btn-primary"
            type="button"
          >
            Ir a Pagar
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
