<form class="d-flex" role="search">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
    name="searchValue"
    #search
    (search)="setProductsFiltered()"
    (keyup)="getSearchValue(search.value)"
  />
  <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
</form>
<br />
<div class="list-group list-group-flush">
  <!-- <a
    href="#"
    class="list-group-item list-group-item-action active"
    aria-current="true"
  >
    The current link item
  </a> -->
  <a
    (click)="emitelementClickedEvent(product.item.slug)"
    *ngFor="let product of productsFiltered"
    class="list-group-item list-group-item-action"
    [routerLink]="['/home', product.item.slug]"
    >{{ product?.item?.name }}</a
  >
</div>
<!-- [routerLink]="['/products', product.id]" -->
