<div
  #carouselExampleIndicators
  id="carouselExampleIndicators"
  class="carousel slide py-3"
  data-bs-ride="carousel"
  data-bs-touch="true"
>
  <div *ngIf="items.length > 1" class="carousel-indicators d-none d-md-flex">
    <button
      *ngFor="let item of items; let first = first; let index = index"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      [attr.data-bs-slide-to]="index"
      [ngClass]="first ? 'active' : ''"
      [attr.aria-current]="first ? true : false"
      [attr.aria-label]="'Slide ' + (index + 1)"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      *ngFor="let item of items; let first = first; let index = index"
      class="carousel-item"
      [ngClass]="first ? 'active' : ''"
    >
      <app-slide
        [loading]="loading"
        [title]="item.title"
        [description]="item.description"
        [price]="item.price"
        [image]="item.image"
        [callToActionLabel]="item.callToActionLabel"
        [callToActionUrl]="item.callToActionUrl"
        class="d-block w-100"
      ></app-slide>
    </div>
  </div>
  <button
    *ngIf="items.length > 1"
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <div
      class="carousel-control-prev-icon bg-dark rounded d-md-none"
      aria-hidden="true"
      style="height: 40px"
    ></div>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    *ngIf="items.length > 1"
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <div
      class="carousel-control-next-icon bg-dark rounded d-md-none"
      aria-hidden="true"
      style="height: 40px"
    ></div>
    <span class="visually-hidden">Next</span>
  </button>
</div>
