<div
  id="carouselExampleIndicators"
  class="carousel slide py-3"
  data-bs-ride="carousel"
  data-bs-touch="true"
>
  <div class="carousel-indicators d-none d-md-flex">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <app-slide class="d-block w-100"></app-slide>
    </div>
    <div class="carousel-item">
      <app-slide class="d-block w-100"></app-slide>
    </div>
    <div class="carousel-item">
      <app-slide class="d-block w-100"></app-slide>
      <!-- <app-placeholder-img class="d-block w-100"></app-placeholder-img> -->
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <div
      class="carousel-control-prev-icon bg-dark rounded d-md-none"
      aria-hidden="true"
      style="height: 40px"
    ></div>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <div
      class="carousel-control-next-icon bg-dark rounded d-md-none"
      aria-hidden="true"
      style="height: 40px"
    ></div>
    <span class="visually-hidden">Next</span>
  </button>
</div>
