<div
  #carouselExampleDark
  id="carouselExampleDark"
  class="carousel carousel-dark slide"
  style="position: relative"
>
  <div class="row">
    <div
      class="col-md-2 order-2 order-md-1 p-0 carousel-indicators-custom d-flex justify-content-center justify-content-md-start align-items-md-center flex-md-column gap-3"
    >
      <!-- Slider thumbnails-->

      <button
        *ngFor="let slide of slides; let isFirst = first; let index = index"
        type="button"
        data-bs-target="#carouselExampleDark"
        [attr.data-bs-slide-to]="index"
        [ngClass]="
          activeSlide == index ? 'active border border-primary' : 'border'
        "
        class="rounded"
        [attr.aria-current]="activeSlide == index ? true : false"
        [attr.aria-label]="'Slide ' + (index + 1)"
        [ngStyle]="{ 'background-image': 'url(' + slide + ')' }"
        (click)="setActiveSlide(index)"
      ></button>
      <!-- <button
        type="button"
        class="border-0"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        class="border-0"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button> -->
    </div>
    <div class="col-md-10 order-1 order-md-2 p-0 mb-3 mb-lg-0">
      <!-- Item slider-->

      <div class="carousel-inner border rounded">
        <div
          *ngFor="let slide of slides; let isFirst = first; let index = index"
          class="carousel-item rounded w-100"
          [ngClass]="isFirst ? 'active' : ''"
          [ngStyle]="{ 'background-image': 'url(' + slide + ')' }"
        >
          <!-- <img src="{{ slide }}" [alt]="'Slide ' + (index + 1)" /> -->

          <!-- <app-placeholder-img
              class="d-block w-100"
              [name]="'Slide ' + (index + 1)"
              alt=".."
            ></app-placeholder-img> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>
