<div class="">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md-6 text-center">
      <p class="h2">Revolvedora de Masa</p>
      <p class="mb-0 mb-md-3">15 kilos, para todo tipo de trabajos</p>
      <p class="d-none d-md-block">$ 42.00 + IVA</p>
      <button
        [routerLink]="[
          '/home',
          'revolvedora-de-masa',
          'revolvedora-de-15-kilos'
        ]"
        type="button"
        class="btn btn-primary d-none d-md-inline-block"
      >
        Comprar
      </button>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center">
      <div class="shape-container">
        <div class="blob d-flex align-items-end justify-content-center">
          <!-- bg-primary-subtle -->
          <p class="d-md-none">$ 42.00 + IVA</p>
        </div>
      </div>
    </div>
    <div class="row p-0 m-0">
      <div class="col d-flex justify-content-center">
        <button
          [routerLink]="[
            '/home',
            'revolvedora-de-masa',
            'revolvedora-de-15-kilos'
          ]"
          type="button"
          class="btn btn-primary d-md-none"
        >
          Comprar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="shape-container border" style="position: relative">
  <div class="blob border"></div>
</div> -->
