@import "/src/assets/scss/core";

// Import Bootstrap variables for use within theme
@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";
@import "bootstrap/scss/mixins.scss";

.container-img {
  width: 250px;
  height: 250px;
  position: relative;
}

img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.slide {
  height: 400px;
}

@include media-breakpoint-up(md) {
  .slide {
    height: auto;
  }
}
