<div class="">
  <div class="row w-100 d-flex align-items-center">
    <div class="col text-center" style="padding-left: 60px">
      <p class="h2">Revolvedora de Masa</p>
      <p>15 kilos, para todo tipo de trabajos</p>
      <p>$ 42.00 + IVA</p>
      <button type="button" class="btn btn-primary">Comprar</button>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="shape-container">
        <div class="blob bg-primary-subtle"></div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="shape-container border" style="position: relative">
  <div class="blob border"></div>
</div> -->
