<section class="d-flex align-items-center bg-body-tertiary p-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 m-0 p-0 text-center">
        <h2 class="m-1 p-0">Únete y Participa</h2>
        <p class="m-1 p-0">
          ¡Únete y participa para ganar premios y obtener descuentos cada
          semana!
        </p>
      </div>
      <div class="col-12 col-lg-6 m-0 p-0 d-flex align-items-center">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa tu correo"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
