<app-breadcrumb
  [backRoute]="'/cart-shopping/delivery'"
  [items]="breadcrumbItems"
></app-breadcrumb>

<div class="container mt-4">
  <app-horizontal-stepper
    [steps]="steps"
    [activeStep]="activeStep"
  ></app-horizontal-stepper>

  <form class="form-floating">
    <app-circular-stepper
      [step]="2"
      [steps]="3"
      [title]="'Facturación'"
    ></app-circular-stepper>
    <div class="container my-4">
      <div class="row border-bottom mb-2">
        <div class="col-3">Rut</div>
        <div class="col ms-2 ms-md-0">17.327.515-3</div>
      </div>
      <div class="row border-bottom mb-2">
        <div class="col-3">Nombre</div>
        <div class="col ms-2 ms-md-0">Tanny Nogales Beltrán</div>
      </div>
      <div class="row border-bottom mb-2">
        <div class="col-3">Giro</div>
        <div class="col ms-2 ms-md-0">Persona Natural</div>
      </div>
      <div class="row border-bottom mb-2">
        <div class="col-3">Comuna</div>
        <div class="col ms-2 ms-md-0">Reñaca</div>
      </div>
      <div class="row border-bottom mb-2">
        <div class="col-3">Dirección</div>
        <div class="col ms-2 ms-md-0">Los Mirlos, 181, Viña del Mar, Chile</div>
      </div>
      <div class="row mb-2">
        <div class="col-3">Correo</div>
        <div class="col ms-2 ms-md-0">tanny.nogales@gmail.com</div>
      </div>
    </div>
    <div class="text-center">
      <button
        [routerLink]="['/cart-shopping/payment']"
        type="button"
        class="btn btn-primary mb-2"
      >
        Continuar
      </button>
      <p>
        <a [routerLink]="['/cart-shopping/delivery']" class="d-none d-md-inline"
          >Volver</a
        >
      </p>
    </div>
  </form>
</div>
