<div class="d-flex align-items-center" style="height: 100%">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-2 d-md-none">
        <img
          style="max-width: 70px"
          class="img-fluid"
          src="assets/check.svg"
          alt="contact us"
        />
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center">
        <div class="">
          <h1 class="">Tu correo no está confirmado</h1>
          <p class="">
            Por favor revisa en tu correo electrónico un enlace para activar tu
            cuenta. Si no lo has recibido, puedes reenviarlo.
          </p>
          <button class="btn btn-secondary me-2" [routerLink]="['/']">
            Ir al Inicio
          </button>
          <app-button (click)="sendEmail()" [loading]="isLoading"
            >Reenviar enlace</app-button
          >
        </div>
      </div>
      <div class="col-6 d-none d-md-block text-center">
        <img
          style="max-width: 300px"
          class="img-fluid"
          src="assets/verified.svg"
          alt="contact us"
        />
      </div>
    </div>
  </div>
</div>
