<div
  class="position-fixed d-flex flex-column-reverse toast-container"
  style="z-index: 1000000000000000000000000"
>
  <ng-container *ngFor="let toast of toasts; let i = index">
    <div
      #singleToast
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      class="toast fade mb-2 bg-light-subtle"
      data-bs-autohide="true"
    >
      <div class="toast-header">
        <strong class="me-auto">{{ toast.title || "Mensaje" }}</strong>
        <small>{{ toast.date | date : "HH:mm:ss" }}</small>
        <!-- <small>{{toastDate | date:'hh:mm:ss dd-MM-yyyy'}}</small> -->
        <button
          (click)="deleteToast(i, this)"
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body" [innerHTML]="toast.message"></div>
    </div>
  </ng-container>
</div>
