<nav class="navbar sticky-top bg-body-tertiary">
  <div class="container">
    <div class="d-flex align-items-center w-100">
      <a
        class="me-auto d-flex fs-6 my-0"
        [routerLink]="['/home']"
        style="cursor: pointer"
      >
        <span class="d-none d-lg-block">Máquinas de Gastronomía&nbsp;</span>
        <span>Roble</span>
      </a>

      <div class="text-body-secondary d-none d-lg-block">
        <small class="mx-3"> +569 76901120, Santiago</small>
      </div>

      <!-- d-none d-lg-block: Hide on screens smaller than lg -->
      <!-- <div class="p-2 d-none d-lg-block">
        <app-button-icon [icon]="'bell'" [badge]="1"></app-button-icon>
      </div> -->

      <!-- d-none d-lg-block: Hide on screens smaller than lg -->
      <div class="p-2">
        <ng-container *ngIf="shoppingCart$ | async as shoppingCart">
          <app-button-icon
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasShoppingCart"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
            [icon]="'cart-shopping'"
            [badge]="shoppingCart.totalProducts"
          ></app-button-icon>
        </ng-container>
      </div>

      <!-- d-none d-lg-block: Hide on screens smaller than lg -->
      <!-- <div class="p-2 d-none d-lg-block">
        <app-button-icon
          [routerLink]="['/user']"
          [icon]="'user'"
        ></app-button-icon>
      </div> -->

      <!-- d-lg-none: Hide on lg and wider screens -->
      <div class="p-2 d-lg-none">
        <app-button-icon
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
          [icon]="'search'"
        ></app-button-icon>
      </div>

      <!-- Offcanvas Tab -->
      <div
        #offcanvasNavbar
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Productos</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ng-container *ngIf="categories$ | async as categories">
            <ng-container *ngIf="!categories.loading; else loading">
              <div class="contenido">
                <app-menu-list
                  (elementClickedEvent)="closeOffcanvasNavbar()"
                  [products]="categories.data"
                ></app-menu-list>
              </div>
            </ng-container>
            <ng-template #loading>
              <div class="placeholder-glow h-100">
                <div class="placeholder w-100 rounded h-100">some</div>
              </div>
            </ng-template>
          </ng-container>
        </div>
        <ng-container *ngIf="parentCategories$ | async as parentCategories">
          <ng-container *ngIf="!parentCategories.loading">
            <div
              class="form-floating d-grid p-3 border-top bg-body-tertiary"
              style="bottom: 0"
            >
              <select
                class="form-select"
                id="floatingSelect"
                aria-label="Floating label select example"
                (change)="changeParentCategory($event)"
              >
                <option
                  *ngFor="let parentCategory of parentCategories.data"
                  [selected]="
                    parentCategory.slug == (selectedParentCategory$ | async)
                  "
                  [value]="parentCategory.slug"
                >
                  {{ parentCategory.name }}
                </option>
                <option
                  [selected]="'all' == (selectedParentCategory$ | async)"
                  value="all"
                >
                  Todas
                </option>
              </select>
              <label for="floatingSelect">Filtra por categoría</label>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <!-- Offcanvas Shopping Cart -->
      <div
        #offcanvasShoppingCart
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasShoppingCart"
        aria-labelledby="offcanvasShoppingCartLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasShoppingCartLabel">
            Carrito de Compra
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ng-container *ngIf="shoppingCart$ | async as shoppingCart">
            <div
              *ngFor="let product of shoppingCart.products; let last = last"
              [ngClass]="{ 'border-bottom': !last }"
              class="row d-flex align-items-center py-2 border-bottom"
            >
              <div class="col-auto">
                <div
                  class="rounded border"
                  style="
                    height: 80px;
                    width: 80px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                  "
                  [ngStyle]="{
                    'background-image': 'url(' + product.primary_image + ')'
                  }"
                ></div>
              </div>
              <div class="col">
                <p class="fs-6 lh-sm">
                  {{ product.name }}<br />
                  <span class="text-muted">$ {{ product.price }} CLP</span>
                </p>
              </div>
              <div class="col-auto">
                <app-vertical-counter
                  [quantity]="product.quantity"
                  (increase$)="increaseQuantity($event, product.id)"
                  (decrease$)="
                    decreaseQuantity($event, product.id, product.quantity)
                  "
                ></app-vertical-counter>
              </div>
              <!-- <div class="col-auto">
                <i class="fa-sharp fa-regular fa-trash"></i>
              </div> -->
            </div>
            <p *ngIf="shoppingCart.products.length == 0">No hay productos</p>
            <br />
            <div *ngIf="shoppingCart.products.length > 0" class="small">
              <div class="row px-3 py-2 mb-1 bg-light text-muted">
                <div class="col text-uppercase">
                  <strong>Total Bruto</strong>
                </div>
                <div class="col-auto">
                  $ {{ shoppingCart.totalBruto | currency : "CLP" }}
                </div>
              </div>
              <div class="row px-3 py-2 mb-1 bg-light text-muted">
                <div class="col text-uppercase"><strong>IVA</strong></div>
                <div class="col-auto">
                  $ {{ shoppingCart.IVA | currency : "CLP" }}
                </div>
              </div>
              <div class="row px-3 py-2 mb-1 bg-light text-dark">
                <div class="col text-uppercase">
                  <strong>Total Neto</strong>
                </div>
                <div class="col-auto">
                  $ {{ shoppingCart.totalNeto | currency : "CLP" }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div
          class="d-grid p-3 border-top"
          style="bottom: 0; background-color: white"
        >
          <button
            [routerLink]="['/cart-shopping']"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            class="btn btn-primary"
            type="button"
          >
            Ir a Pagar
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
