<app-breadcrumb
  [backRoute]="'/cart-shopping/billing'"
  [items]="breadcrumbItems"
></app-breadcrumb>

<div class="container mt-4">
  <app-horizontal-stepper
    [steps]="steps"
    [activeStep]="activeStep"
  ></app-horizontal-stepper>

  <form class="form-floating">
    <app-circular-stepper
      [step]="3"
      [steps]="3"
      [title]="'Pago'"
    ></app-circular-stepper>

    <div class="container mt-4">
      <div class="alert alert-info" role="alert">
        Debes permitir que se abran ventanas emergentes
      </div>

      <ngx-paypal
        [ngClass]="{ 'd-none': !paypalOnInit }"
        [config]="payPalConfig"
      ></ngx-paypal>
      <div *ngIf="!paypalOnInit" class="placeholder-glow">
        <div
          class="placeholder border rounded w-100"
          style="height: 140px"
        ></div>
      </div>
    </div>

    <div class="text-center" style="display: none">
      <button
        [routerLink]="['/cart-shopping/payment']"
        type="button"
        class="btn btn-primary mb-2"
      >
        Continuar
      </button>
      <p>
        <a [routerLink]="['/cart-shopping/billing']" class="">Volver</a>
      </p>
    </div>
  </form>
</div>
