<app-breadcrumb
  [backRoute]="'/cart-shopping/billing'"
  [items]="breadcrumbItems"
></app-breadcrumb>

<div class="container">
  <app-horizontal-stepper
    [steps]="steps"
    [activeStep]="activeStep"
  ></app-horizontal-stepper>
  <app-circular-stepper
    [step]="3"
    [steps]="3"
    [title]="'Facturación'"
  ></app-circular-stepper>
</div>

<div class="container mt-4">
  <form class="form-floating">
    <div class="container mt-4" style="max-width: 992px">
      <div class="alert alert-info" role="alert">
        Debes permitir que se abran ventanas emergentes
      </div>

      <div class="d-flex justify-content-center">
        <div
          [ngClass]="{ 'd-none': !paypalOnInit }"
          class="w-100"
          style="max-width: 768px"
        >
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>

        <div
          *ngIf="!paypalOnInit"
          class="placeholder-glow w-100"
          style="max-width: 768px"
        >
          <div
            class="placeholder border rounded w-100"
            style="height: 140px"
          ></div>
        </div>
      </div>
    </div>

    <div class="text-center" style="display: none">
      <button
        [routerLink]="['/cart-shopping/payment']"
        type="button"
        class="btn btn-primary mb-2"
      >
        Continuar
      </button>
      <p>
        <a [routerLink]="['/cart-shopping/billing']" class="">Volver</a>
      </p>
    </div>
  </form>
</div>
