<section class="container">
  <ng-container *ngIf="parentCategories$ | async as parentCategories">
    <ng-container
      *ngIf="!parentCategories.loading; else loadingParentCategories"
    >
      <div class="contenido">
        <app-menu-top
          [items]="parentCategories.data"
          [selected]="selectedMenuItem"
        ></app-menu-top>
      </div>
    </ng-container>
    <ng-template #loadingParentCategories>
      <div class="placeholder-glow h-100">
        <app-menu-top class="placeholder w-100 rounded"></app-menu-top>
      </div>
    </ng-template>
  </ng-container>
</section>

<div class="container py-3">
  <div class="row">
    <div class="col-3 d-none d-lg-block">
      <ng-container *ngIf="categories$ | async as categories">
        <ng-container *ngIf="!categories.loading; else loading">
          <div class="contenido">
            <app-menu-list [products]="categories.data"></app-menu-list>
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="placeholder-glow h-100">
            <div class="placeholder w-100 rounded h-100">some</div>
          </div>
        </ng-template>
      </ng-container>
    </div>
    <div class="col-12 col-lg-9">
      <!-- <section class="mb-4">
        <div class="category-title border">
          <div class="test"></div>
          <h5 class="mb-3">Panadería y Pastelería</h5>
        </div>
      </section> -->
      <h1>{{ selectedMenuItem }}</h1>
      <section>
        <div class="row">
          <!-- Product-->
          <ng-container *ngIf="parentCategoryProducts$ | async as products">
            <ng-container *ngIf="!products.loading; else loading">
              <div
                class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-4 p-2"
                *ngFor="let product of products.data"
              >
                <div class="d-flex justify-content-center m-0 p-0">
                  <!-- TODO use selectedMenuItem instead product.category[0] in order to track where the user came from -->
                  <app-card-item
                    [item]="product"
                    [buttonLink]="
                      '/home/' + product.category[0] + '/' + product.id
                    "
                    [buttonLabel]="'Comprar'"
                  ></app-card-item>
                </div>
              </div>

              <!-- Pagination-->
              <app-pagination
                [pagination]="products.meta.pagination"
                (clickOnPagination$)="changePage($event)"
              ></app-pagination>
            </ng-container>
            <ng-template #loading>
              <div
                class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-4 p-2"
                *ngFor="let product of emptyProducts"
              >
                <div class="d-flex justify-content-center m-0 p-0">
                  <app-card-item-loading></app-card-item-loading>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </section>
    </div>
  </div>
</div>
