<section class="container">
  <app-menu-top [items]="menu" [selected]="selectedMenuItem"></app-menu-top>
</section>

<div class="container py-3">
  <div class="row">
    <div class="col-3 d-none d-lg-block">
      <ng-container *ngIf="categories$ | async as categories">
        <ng-container *ngIf="!categories.loading; else loading">
          <div class="contenido">
            <app-menu-list [products]="categories.data"></app-menu-list>
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="placeholder-glow h-100">
            <div class="placeholder w-100 rounded h-100">some</div>
          </div>
        </ng-template>
      </ng-container>
    </div>
    <div class="col-12 col-lg-9">
      <!-- <section class="mb-4">
        <div class="category-title border">
          <div class="test"></div>
          <h5 class="mb-3">Panadería y Pastelería</h5>
        </div>
      </section> -->
      <h1>Panadería y Pastelería</h1>
      <section>
        <div class="row">
          <div
            class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-4 p-2"
            *ngFor="let product of products"
          >
            <div class="d-flex justify-content-center m-0 p-0">
              <app-card></app-card>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
