<button
  type="button"
  class="btn btn-outline-primary position-relative btn-sm rounded-circle"
>
  <i class="{{ style }}{{ icon }}"></i>
  <span
    *ngIf="badge > 1"
    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
  >
    {{ badge }}
    <span class="visually-hidden">messages</span>
  </span>

  <span
    *ngIf="badge == 1"
    class="position-absolute top-0 start-100 translate-middle p-2 bg-danger rounded-circle"
  >
    <span class="visually-hidden"></span>
  </span>
</button>
