<div
  class="icon rounded-circle position-relative"
  [ngClass]="{
  'placeholder placeholder-glow': icon == 'placeholder',
}"
>
  <svg
    class="rounded-circle"
    [ngClass]="{
      'placeholder': icon == 'placeholder',
    }"
    [attr.width]="size"
    [attr.height]="size"
    viewBox="-9.36 -9.36 42.72 42.72"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)"
  >
    <g
      id="SVGRepo_bgCarrier"
      stroke-width="0"
      transform="translate(0,0), scale(1)"
    >
      <rect
        x="-9.36"
        y="-9.36"
        width="42.72"
        height="42.72"
        rx="0"
        fill="#D5E6DF"
        strokewidth="0"
      ></rect>
    </g>
    <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke="#c83c3c"
      stroke-width="1.9200000000000004"
    ></g>
    <g id="SVGRepo_iconCarrier" *ngIf="icon == 'cart-shopping'">
      <path
        d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
        stroke="#198754"
        [attr.stroke-width]="strokeWidth"
      ></path>
      <path
        d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
        stroke="#198754"
        [attr.stroke-width]="strokeWidth"
      ></path>
      <path
        d="M2 3L2.26121 3.09184C3.5628 3.54945 4.2136 3.77826 4.58584 4.32298C4.95808 4.86771 4.95808 5.59126 4.95808 7.03836V9.76C4.95808 12.7016 5.02132 13.6723 5.88772 14.5862C6.75412 15.5 8.14857 15.5 10.9375 15.5H12M16.2404 15.5C17.8014 15.5 18.5819 15.5 19.1336 15.0504C19.6853 14.6008 19.8429 13.8364 20.158 12.3075L20.6578 9.88275C21.0049 8.14369 21.1784 7.27417 20.7345 6.69708C20.2906 6.12 18.7738 6.12 17.0888 6.12H11.0235M4.95808 6.12H7"
        stroke="#198754"
        [attr.stroke-width]="strokeWidth"
        stroke-linecap="round"
      ></path>
    </g>
    <g id="SVGRepo_iconCarrier" *ngIf="icon == 'search'">
      <path
        d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
        stroke="#198754"
        [attr.stroke-width]="strokeWidth"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </g>
    <g id="SVGRepo_iconCarrier" *ngIf="icon == 'delete'">
      <path
        d="M10 12V17"
        stroke="#198754"
        stroke-width="0.8399999999999999"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M14 12V17"
        stroke="#198754"
        stroke-width="0.8399999999999999"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M4 7H20"
        stroke="#198754"
        stroke-width="0.8399999999999999"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10"
        stroke="#198754"
        stroke-width="0.8399999999999999"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
        stroke="#198754"
        stroke-width="0.8399999999999999"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </g>
    <g id="SVGRepo_iconCarrier" *ngIf="icon == 'right-arrow'">
      <path
        d="M10 7L15 12L10 17"
        stroke="#198754"
        stroke-width="0.8399999999999999"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </g>
    <g id="SVGRepo_iconCarrier" *ngIf="icon == 'logout'">
      <path
        d="M10 12H20M20 12L17 9M20 12L17 15"
        stroke="#1C274C"
        stroke-width="0.8399999999999999"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M4 12C4 7.58172 7.58172 4 12 4M12 20C9.47362 20 7.22075 18.8289 5.75463 17"
        stroke="#1C274C"
        stroke-width="0.8399999999999999"
        stroke-linecap="round"
      ></path>
    </g>
  </svg>
  <span
    *ngIf="badge > 1"
    class="position-absolute translate-middle badge rounded-pill bg-danger"
    style="right: -18px; top: 4px"
  >
    {{ badge }}
    <span class="visually-hidden">messages</span>
  </span>

  <span
    *ngIf="badge == 1"
    class="position-absolute translate-middle badge rounded-pill bg-danger text-danger"
    style="right: -18px; top: 4px"
  >
    2
    <span class="visually-hidden">messages</span>
  </span>
</div>
