<!-- flecha izquierda para volver no funciona en mobile -->
<app-breadcrumb
  [backRoute]="'/cart-shopping'"
  [items]="breadcrumbItems"
></app-breadcrumb>

<ng-container *ngIf="shoppingCart$ | async as shoppingCart">
  <div class="container" *ngIf="shoppingCart.products.length <= 0">
    <div class="alert alert-primary" role="alert">
      No tienes ningún producto en el carrito
    </div>
  </div>
</ng-container>

<div class="container mt-4">
  <p>Ingresa tus datos para continuar con la compra.</p>
  <form
    (ngSubmit)="onSubmit()"
    class="mb-5"
    [formGroup]="form"
    autocomplete="off"
  >
    <div class="row">
      <div class="form-group col-lg-6 mb-3">
        <app-input
          [parentForm]="form"
          formControlName="email"
          label="Correo"
          type="text"
          [isDisabled]="isLoading"
        >
        </app-input>
      </div>
      <div class="form-group col-lg-6 mb-3">
        <app-input
          [parentForm]="form"
          formControlName="name"
          label="Nombre"
          type="text"
          [isDisabled]="isLoading"
        >
        </app-input>
      </div>

      <div class="form-group col-lg-6 mb-3">
        <app-input
          [parentForm]="form"
          formControlName="cellphone"
          label="Celular"
          type="number"
          [isDisabled]="isLoading"
          [tooltip]="'El celular debe tener 9 digitos'"
        >
        </app-input>
      </div>

      <div class="form-group col-12">
        <app-button [loading]="isLoading">Continuar </app-button>
      </div>
    </div>
  </form>
</div>
