<app-breadcrumb
  [backRoute]="'/cart-shopping'"
  [items]="breadcrumbItems"
></app-breadcrumb>

<ng-container *ngIf="shoppingCart$ | async as shoppingCart">
  <div class="container" *ngIf="shoppingCart.products.length <= 0">
    <div class="alert alert-primary" role="alert">
      No tienes ningún producto en el carrito
    </div>
  </div>
</ng-container>

<div class="container">
  <app-horizontal-stepper
    [steps]="steps"
    [activeStep]="activeStep"
  ></app-horizontal-stepper>
</div>
<div class="container mt-4" style="max-width: 992px">
  <form class="form-floating">
    <app-circular-stepper
      [step]="1"
      [steps]="3"
      [title]="'Despacho'"
    ></app-circular-stepper>
    <div class="my-4">
      <div
        *ngFor="let despachoRadioItem of despachoRadioItems"
        [ngClass]="
          despachoRadioItem.id == cartDelivery.deliveryOption
            ? 'bg-primary-subtle text-primary '
            : 'bg-body-tertiary '
        "
        class="rounded border p-3 mb-3"
      >
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDespacho"
            [id]="'radio-' + despachoRadioItem.id"
            [value]="despachoRadioItem.id"
            [(ngModel)]="cartDelivery.deliveryOption"
          />
          <label
            class="form-check-label w-100"
            [for]="'radio-' + despachoRadioItem.id"
          >
            {{ despachoRadioItem.title }}:
            <p class="mt-2">
              {{ despachoRadioItem.description }}
            </p>
          </label>
        </div>
      </div>
    </div>

    <div class="alert alert-info" role="alert">
      proximamente se habilitará la opción de despacho a domicilio.
    </div>

    <section *ngIf="cartDelivery.deliveryOption == '2'">
      <p>Dirección de Despacho:</p>
      <ng-template [ngTemplateOutlet]="deliveryForm"></ng-template>
    </section>
    <div class="text-center">
      <app-button class="mb-2" (click)="onSubmit()" [loading]="isLoading"
        >Continuar
      </app-button>

      <p class="mt-2">
        <a [routerLink]="['/cart-shopping']" class="d-none d-md-inline"
          >Volver</a
        >
      </p>
    </div>
  </form>
</div>

<ng-template #deliveryForm>
  <form [formGroup]="form" autocomplete="off">
    <div class="row">
      <div class="form-group col-lg-6 mb-3">
        <app-select
          (input)="onRegionChange()"
          [parentForm]="form"
          formControlName="region"
          id="region"
          label="Región"
          [options]="regiones"
          [isDisabled]="isLoading"
        >
        </app-select>
      </div>
      <div class="form-group col-lg-6 mb-3">
        <app-select
          [parentForm]="form"
          formControlName="comuna"
          id="comuna"
          label="Comuna"
          [options]="comunas"
          [isDisabled]="isLoading"
        >
        </app-select>
      </div>
      <div class="form-group col-lg-6 mb-3">
        <app-input
          [parentForm]="form"
          formControlName="streetName"
          id="streetName"
          label="Nombre de la calle"
          type="text"
          [isDisabled]="isLoading"
        >
        </app-input>
      </div>
      <div class="form-group col-lg-6 mb-3">
        <app-input
          [parentForm]="form"
          formControlName="streetNumber"
          id="streetNumber"
          label="Número de la calle"
          type="text"
          [isDisabled]="isLoading"
        >
        </app-input>
      </div>
      <div class="form-group col-lg-6 mb-3">
        <app-input
          [parentForm]="form"
          formControlName="department"
          id="department"
          label="Número del departamento"
          type="text"
          [isDisabled]="isLoading"
        >
        </app-input>
      </div>
    </div>
  </form>
</ng-template>
