<div class="container mt-4">
  <app-horizontal-stepper
    [steps]="steps"
    [activeStep]="activeStep"
  ></app-horizontal-stepper>
  <h2
    class="mb-4 text-center fs-6 text-primary d-md-none"
    style="font-weight: 500; line-height: 27px"
  >
    <a href="#" class="float-start">
      <i class="fa-regular fa-chevron-left"></i>
    </a>
    Carrito de Compras
  </h2>
  <form class="form-floating">
    <app-circular-stepper [title]="'Despacho'"></app-circular-stepper>
    <div class="my-4">
      <div
        *ngFor="let despachoRadioItem of despachoRadioItems"
        [ngClass]="
          despachoRadioItem.id == selectedDespachoOption
            ? 'bg-primary-subtle text-primary '
            : 'bg-body-tertiary '
        "
        class="rounded border p-3 mb-3"
      >
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDespacho"
            [id]="'radio-' + despachoRadioItem.id"
            [value]="despachoRadioItem.id"
            [(ngModel)]="selectedDespachoOption"
          />
          <label
            class="form-check-label w-100"
            [for]="'radio-' + despachoRadioItem.id"
          >
            {{ despachoRadioItem.title }}:
            <p class="mt-2">
              {{ despachoRadioItem.description }}
            </p>
          </label>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button
        [routerLink]="['/cart-shopping/billing']"
        type="button"
        class="btn btn-primary mb-2"
      >
        Continuar
      </button>
      <p>
        <a [routerLink]="['/cart-shopping']" class="">Volver</a>
      </p>
    </div>
  </form>
</div>
