<div class="d-flex justify-content-center align-items-center mt-2">
  <div #scrollContainer class="d-flex scroll-custom gap-4">
    <div *ngFor="let item of items; let first = first" class="text-nowrap py-4">
      <a
        class="text-decoration-none"
        [routerLink]="['/', item.slug]"
        [ngClass]="{ 'link-body-emphasis': selected !== item.slug }"
      >
        <!-- link-body-emphasis -->
        {{ item.name }}
      </a>
    </div>
  </div>
  <div #rightArrow class="rightArrow">
    <button
      (click)="moveScroll()"
      type="button"
      class="btn btn-light"
      style="height: 74px; width: 40px; margin-left: 10px"
    >
      <i class="fa-solid fa-chevron-left fa-xl"></i>
      <!-- <i class="fa-solid fa-left-long text-primary"></i> -->
    </button>
  </div>
</div>
