<!-- <app-navbar></app-navbar> -->
<!-- Navbar -->

<div class="d-flex flex-row min-vh-100">
  <app-sidebar #appSidebar></app-sidebar>

  <div class="d-flex flex-column w-100 main-content">
    <nav class="navbar sticky-top bg-light">
      <div class="container-fluid">
        <button
          (click)="appSidebar.toggleSideBar()"
          class="btn d-md-none d-block px-1 py-0"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">Sticky top</a>
      </div>
    </nav>

    <main class="flex-grow-1">
      <div class="main">
        <!-- <ng-content></ng-content> -->
        <router-outlet></router-outlet>
      </div>
    </main>
    <!-- <app-footer></app-footer> -->
  </div>
</div>
