<div
  id="carouselExampleDark"
  class="carousel carousel-dark slide"
  style="position: relative"
>
  <div class="row">
    <div
      class="col-md-2 order-2 order-md-1 p-0 carousel-indicators-custom d-flex justify-content-center justify-content-md-start align-items-md-center flex-md-column gap-3"
    >
      <!-- Slider thumbnails-->

      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active border border-primary"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        class="border-0"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        class="border-0"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="col-md-10 order-1 order-md-2 p-0 mb-3 mb-lg-0">
      <!-- Item slider-->
      <div class="  ">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <app-placeholder-img
              class="d-block w-100"
              [name]="'Slide 1'"
              alt=".."
            ></app-placeholder-img>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <app-placeholder-img
              class="d-block w-100"
              [name]="'Slide 2'"
              alt=".."
            ></app-placeholder-img>
          </div>
          <div class="carousel-item">
            <app-placeholder-img
              class="d-block w-100"
              [name]="'Slide 3'"
              alt=".."
            ></app-placeholder-img>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>
