@import "/src/assets/scss/core";

// bootstrap main
@import "../node_modules/bootstrap/scss/bootstrap";

// theme components
@import "./assets/scss/theme/theme";

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// ICONS
// @import url("https://kit-pro.fontawesome.com/releases/v6.1.1/css/pro.min.css");

@import "nouislider/dist/nouislider.css";

/* ==========================================
    NOUI RANGE SLIDER
   ========================================== */

html {
  scroll-behavior: smooth;
}

.noUi-horizontal- {
  height: 3px !important;
}

.noUi-target {
  background-color: #e9ecef !important;
  box-shadow: none !important;
  border: none !important;
}

.noUi-connect {
  background: #111111 !important;
}

.noUi-handle- {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background: #111111 !important;
  border: none !important;
  box-shadow: none !important;
  color: pointer !important;
  top: -4px !important;
  right: -8px !important;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none !important;
}

.noUi-handle:hover,
.noUi-handle:focus {
  outline: none !important;
  border: none !important;
}

// Mobile first, los estilos por defecto son para mobile
.noUi-tooltip {
  display: none !important;
}

// Mobile first, luego se manejan estilos para otras resoluciones
@include media-breakpoint-up(lg) {
  .noUi-tooltip {
    display: block !important;
    font-weight: bold !important;
    border: none !important;
    padding: 3px 5px !important;
    font-size: 0.7rem !important;
  }
}

.scroll-custom {
  scroll-snap-type: x proximity;
  overflow-x: auto;
  overflow-y: hidden;
}
